<router-outlet></router-outlet>
<div class="container-center-padre">
    <span class="title">Commponente padre</span>
    <span class="button" (click)="sumaButton()">
        suma
    </span>
    <p class="number">{{contador}}</p>
    <span class="button" (click)="restaButton()">
        resta
    </span>
</div>
<div class="container-center-hijo">
    <span class="title">Commponente hijo</span>
    <app-hijo [contador]="contador" (contadorHijo)="contador = $event"></app-hijo>
</div>
<div class="container-center-hijo">
    <span class="title">Commponente nieto</span>
    <app-nieto [contador]="contador" (contadorNietoReset)="contador = $event"></app-nieto>
</div>

